<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rebel_joint" params="name can_id position_min=0 position_max=0 gear_scale=1 continuous_joint=false cri_joint_offset=0">
    <joint name="${name}">
      <!-- command interfaces -->
      <command_interface name="position">
        <xacro:unless value="${continuous_joint}">
          <param name="min">${position_min}</param>
          <param name="max">${position_max}</param>
        </xacro:unless>
      </command_interface>
      <!-- interface for velocity command -->
      <command_interface name="velocity">
        <param name="min">${-pi/4}</param>
        <param name="max">${pi/4}</param>
      </command_interface>
      <!-- position state interface -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <!-- velocity state interface -->
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>

      <!-- CRI specific parameters -->
      <param name="cri_joint_offset">${cri_joint_offset}</param>
    </joint>
  </xacro:macro>
</robot>
