<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="igus_rebel_6dof_01_ros2_control" params="prefix hardware_protocol continuous_last_joint is_ignition">

    <ros2_control name="igus_rebel_6dof" type="system">
      <hardware>
        <!-- mock hardware interface -->
        <xacro:if value="${hardware_protocol == 'mock_hardware'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>

        <!-- gazebo hardware interface -->
        <xacro:if value="${hardware_protocol == 'gazebo'}">
          <xacro:if value="${is_ignition}">
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
          </xacro:if>
          <xacro:unless value="${is_ignition}">
            <plugin>gz_ros2_control/GazeboSinSystem</plugin>
          </xacro:unless>
        </xacro:if>


        <xacro:if value="${hardware_protocol == 'cri'}">
          <plugin>igus_rebel_hw_controller/RebelController</plugin>
          <!-- <param name="ip">192.168.3.11</param> -->
          <param name="ip">192.168.3.100</param> 
        </xacro:if>
      </hardware>

      <!-- Include the joint module macro -->
      <xacro:include filename="$(find irc_ros_description)/urdf/modules/rebel.ros2_control.xacro" />

      <xacro:rebel_joint name="${prefix}joint1" can_id="0x10" position_min="${-pi*179/180}" position_max="${pi*179/180}" gear_scale="1443.55" />
      <!-- Position limit difference with iRC files due to 30 degree offset in joint 2 and 3 -->
      <xacro:rebel_joint name="${prefix}joint2" can_id="0x20" position_min="${-pi*2/3}" position_max="${pi*2/3}" gear_scale="1443.55" cri_joint_offset="-30" />
      <xacro:rebel_joint name="${prefix}joint3" can_id="0x30" position_min="${-pi*2/3}" position_max="${pi*2/3}" gear_scale="1443.55" cri_joint_offset="-30" />
      <xacro:rebel_joint name="${prefix}joint4" can_id="0x40" position_min="${-pi*179/180}" position_max="${pi*179/180}" gear_scale="-1443.55" />
      <xacro:rebel_joint name="${prefix}joint5" can_id="0x50" position_min="${-pi*19/36}" position_max="${pi*19/36}" gear_scale="1031.11" cri_joint_offset="7.5" />
      <xacro:rebel_joint name="${prefix}joint6" can_id="0x60" position_min="${-pi*179/180}" position_max="${pi*179/180}" gear_scale="-1031.11" continuous_joint="${continuous_last_joint}" />

   </ros2_control>
  </xacro:macro>
</robot>
